* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f8f6f0; /* Fundo off-white idêntico à imagem */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background: #ffffff;
    padding: 40px;
    border-radius: 24px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.03);
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 30px;
}

.logo {
    font-size: 32px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 25px;
}

.logo span {
    color: #004595; /* Azul do DevIN */
}

form {
    text-align: left;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 14px;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.icon {
    position: absolute;
    left: 12px;
    color: #555;
    font-size: 18px;
}

input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    border: 1px solid #777;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
}

input::placeholder {
    color: #aaa;
}

.btn-enviar {
    display: block;
    width: 60%;
    margin: 0 auto;
    background-color: #004595;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
}

.btn-enviar:hover {
    background-color: #002d62;
}

footer {
    position: absolute;
    bottom: 20px;
    font-size: 11px;
    color: #333;
    text-align: center;
}